{
  "id": "test_service_id",
  "serverConf": {
    "host": "0.0.0.0",
    "communicationPort": "8111",
  },
  "modelConf": {
    "modelId": "glm-test-1",
    "basePath": "./tmp/bob",
    "sourcePath": ".ci/test_data/bin_onehot_glm_alice_no_feature/bob/s_model.tar.gz",
    "sourceType": "ST_FILE"
  },
  "clusterConf": {
    "selfId": "bob",
    "parties": [
      {
        "id": "alice",
        "address": "0.0.0.0:8110"
      },
      {
        "id": "bob",
        "address": "0.0.0.0:8111"
      }
    ],
    "channel_desc": {
      "protocol": "http",
      "retryPolicyConfig": {
        "retryCustom": "true",
        "retryAggressive": "true",
        "maxRetryCount": "3",
        "fixedBackoffConfig": {
          "intervalMs": "100"
        },
      }
    }
  },
  "featureSourceConf": {
    "streamingOpts": {
      "file_path": ".ci/test_data/bin_onehot_glm_alice_no_feature/bob/bob.csv",
      "id_name": "id",
    }
  }
}
