{
  "id": "test_service_id",
  "serverConf": {
    "featureMapping": {
      "v6": "x6",
      "v7": "x7",
      "v8": "x8",
      "v9": "x9",
      "v10": "x10"
    },
    "host": "0.0.0.0",
    "servicePort": "9011",
    "communicationPort": "9111",
    "metricsExposerPort": 10308,
    "brpcBuiltinServicePort": 10309
  },
  "modelConf": {
    "modelId": "glm-test-1",
    "basePath": "/tmp/bob",
    "sourcePath": "examples/bob/glm-test.tar.gz",
    "sourceSha256": "d45d34feae42d663875569c206ac20263480300a40e34deda4037e01aeb9b2f8",
    "sourceType": "ST_FILE"
  },
  "clusterConf": {
    "selfId": "bob",
    "parties": [
      {
        "id": "alice",
        "address": "0.0.0.0:9110"
      },
      {
        "id": "bob",
        "address": "0.0.0.0:9111"
      }
    ],
    "channel_desc": {
      "protocol": "http"
    }
  },
  "featureSourceConf": {
    "mockOpts": {}
  }
}
