{
  "id": "test_service_id",
  "serverConf": {
    "featureMapping": {
      "v6": "x6",
      "v7": "x7",
      "v8": "x8",
      "v9": "x9",
      "v10": "x10"
    },
    "metricsExposerPort": 10308,
    "brpcBuiltinServicePort": 10309
  },
  "modelConf": {
    "modelId": "glm-test-1",
    "basePath": "/tmp/bob",
    "sourcePath": "examples/bob/glm-test.tar.gz",
    "sourceMd5": "1ded1513dab8734e23152ef906c180fc",
    "sourceType": "ST_FILE"
  },
  "clusterConf": {
    "selfId": "bob",
    "parties": [
      {
        "id": "alice",
        "address": "0.0.0.0:9010"
      },
      {
        "id": "bob",
        "address": "0.0.0.0:9011"
      }
    ],
    "channel_desc": {
      "protocol": "baidu_std"
    }
  },
  "featureSourceConf": {
    "mockOpts": {}
  }
}
