{
  "id": "test_service_id",
  "serverConf": {
    "host": "0.0.0.0",
    "servicePort": "9010",
    "communicationPort": "9110",
    "metricsExposerPort": 10306,
    "brpcBuiltinServicePort": 10307
  },
  "modelConf": {
    "modelId": "benchmark-test",
    "basePath": "/tmp/alice",
    "sourcePath": "/home/admin/serving/data/model.tar.gz",
    "sourceType": "ST_FILE"
  },
  "clusterConf": {
    "selfId": "alice",
    "parties": [
      {
        "id": "alice",
        "address": "0.0.0.0:9110"
      },
      {
        "id": "bob",
        "address": "serving_bob:9111"
      }
    ],
    "channel_desc": {
      "protocol": "http"
    }
  },
  "featureSourceConf": {
    "mockOpts": {}
  }
}
