{
  "id": "test_service_id",
  "serverConf": {
    "host": "0.0.0.0",
    "servicePort": "9011",
    "communicationPort": "9111",
    "metricsExposerPort": 10308,
    "brpcBuiltinServicePort": 10309
  },
  "modelConf": {
    "modelId": "benchmark-test",
    "basePath": "/tmp/bob",
    "sourcePath": "/home/admin/serving/data/model.tar.gz",
    "sourceType": "ST_FILE"
  },
  "clusterConf": {
    "selfId": "bob",
    "parties": [
      {
        "id": "alice",
        "address": "serving_alice:9110"
      },
      {
        "id": "bob",
        "address": "0.0.0.0:9111"
      }
    ],
    "channel_desc": {
      "protocol": "http"
    }
  },
  "featureSourceConf": {
    "mockOpts": {}
  }
}
