{
  "id": "test_service_id",
  "serverConf": {
    "featureMapping": {
      "v24": "x24",
      "v22": "x22",
      "v21": "x21",
      "v25": "x25",
      "v23": "x23"
    },
    "metricsExposerPort": 10306,
    "brpcBuiltinServicePort": 10307
  },
  "modelConf": {
    "modelId": "glm-test-1",
    "basePath": "/tmp/alice",
    "sourcePath": "examples/alice/glm-test.tar.gz",
    "sourceMd5": "4216c62acba4a630d5039f917612780b",
    "sourceType": "ST_FILE"
  },
  "clusterConf": {
    "selfId": "alice",
    "parties": [
      {
        "id": "alice",
        "address": "0.0.0.0:9010"
      },
      {
        "id": "bob",
        "address": "0.0.0.0:9011"
      }
    ],
    "channel_desc": {
      "protocol": "baidu_std"
    }
  },
  "featureSourceConf": {
    "mockOpts": {}
  }
}
